<% if @article.errors.any? %>
  
  <h3>The article could not be created due to the below reasons</h3>
  
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
  
  <li>
  <%= msg %>    
  </li>
  <% end %>
    
  </ul>
<% end %>
  


<%= form_for @article do |z| %>

<p>
    <%= z.label :title %>
</br>
    <%= z.text_field :title %>
</p>
</br>
<p>
    <%= z.label :description %>
</br>
    <%= z.text_area :description %>
</p>
</br>
<p>
    <%= z.submit %>
</p>

<% end %>


<%= link_to "Go back to the index page", articles_path %>